body
{
    background: linear-gradient(#fcebf7, #fabbe6)
}

.title
{
    font-size: 30px;
    width: 550px;
    font-family: 'Roboto Condensed', sans-serif;
}

.objects
{
    font-size: 20px;
    color: crimson;
    font-weight:bold;
}

#camera
{
    border: 2px dashed grey;
    width: 600px;
    height: 400px;
}

#object_result, #accuracy_result
{
    color: rgb(0, 149, 35);
    font-weight: bold;
    font-size: 30px;
}

#image_result
{
    width: 500px;
    border: 5px dashed grey;
}